:root {
  --primary-color: #89704a;
  --secondary-color: #f3f1ed;
  --text-color: ##000000;
  --text-color-2: #fff;
  --lighter-color: #4a4030;
  --darker-color: #6e5a3b;
  --border-radius: 2rem;
  --shadow: 2px 8px 12px rgba(0, 0, 0, 0.4);
  --main-transition: 1s ease-in-out;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

.container {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-left: auto;
  margin-right: auto;
}
/* Breakpoints  */
/* mobile  */
/* @media (max-width: 576px) {
  .container {
    width: 558px;
    display: none;
  }
} */

/* Small */
/* @media (min-width: 768px) {
  .container {
    width: 750px;
  }
} */

/* Medium  */
/* @media (min-width: 992px) {
  .container {
    width: 970px;
  }
} */

/* Large */
/* @media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
} */

body {
  font-family: "Cairo", sans-serif;
  /* Only works if there is nothing absolutely positioned in relation to body */
  overflow-x: hidden;
}

/* start contactus */
.contactus {
  /* padding: 2rem; */
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.contactus .cover {
  width: 100%;
}
.contactus .container {
  max-width: 500px;
  height: 100vh;
}
.contactus .profile {
  max-width: 20rem;
  position: absolute;
  top: 20%;
  left: 30%;
  border-radius: var(--border-radius);
  overflow: hidden;
  transform: translate(0, 10%);
  box-shadow: var(--shadow);
}
@media (max-width: 450px) {
  .contactus .profile {
    top: 15%;
    left: 25%;
  }
  .contactus .contacus-info .heading {
    margin-top: 6rem;
  }
}
.contactus .contacus-info {
  padding: 2rem 2rem;
  margin-top: 10rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contactus .contacus-info .heading {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.contactus .contacus-info .heading img {
  width: 3rem;
  display: flex;
  justify-items: center;
}
.contactus .contacus-info .heading h1 {
  font-size: 3rem;
  font-weight: 500;
  color: var(--darker-color);
  margin-top: 3rem;
  margin-bottom: 2rem;
}
.contactus .contacus-info p {
  font-size: 2rem;
  line-height: 1.6;
  font-weight: 500;
  color: var(--darker-color);
}

/* stat faq */
.faq {
  padding: 1rem auto;
  background-color: var(--secondary-color);
  max-width: 50rem;
  height: 130vh;
}
.working-process .accordion-item {
  border: 1px solid var(--primary-color);
  border-bottom: 3px solid var(--primary-color);
  border-radius: var(--border-radius);
  overflow: hidden;
  /* padding: 20px; */
  background-color: var(--secondary-color);
  font-size: 2rem;
}

.working-process .accordion-item .accordion-button {
  background-color: var(--secondary-color);
  padding: 1rem;
  border-bottom: 1px solid var(--primary-color);
  font-size: 2rem;
}

.working-process .accordion-item .accordion-collapse.collapse.show,
.working-process .accordion-item .accordion-collapse.collapse.show {
  background-color: var(--primary-color);
  transition: all 0.2s ease-in-out;
  color: var(--text-color-2);
}

.working-process .accordion-item .accordion-button:not(.collapsed) {
  color: var(--text-color-2);
  transition: all 0.2s ease-in-out;
  background-color: var(--primary-color) !important;
  box-shadow: none;
  color: var(--text-color-2);
}

.working-process .accordion-item .accordion-button:focus {
  box-shadow: none;
}

.working-process .accordion-item .accordion-collapse .accordion-body {
  padding: 1rem;
  line-height: 1.6;
}

.working-process .accordion-item .accordian-numbers {
  font-size: 2.4rem;
  padding-left: 2rem;
}
/* .accordion-button {
  position: relative;
} */
.accordion-button::after {
  background-image: none;
  font-family: "Font Awesome 7 Free";
  content: "\2b";
  height: 35px;
  width: 35px;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid var(--secondary-color);
  background-color: var(--primary-color);
  color: var(--text-color-2);
  position: absolute;
  left: 2rem;
}

.accordion-button:not(.collapsed)::after {
  background-image: none;
  content: "\f068";
  color: var(--text-color-2);
}

.working-process .accordion-item .collapsing {
  transition: all 0.3s ease-in-out;
}
/* end faq */
.contactus .container .contactus-link ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  gap: 3rem;
}
.contactus .container .contactus-link a:last-child {
  margin-bottom: 4rem;
}
.contactus .container .contactus-link li {
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  font-size: 3rem;
  background-color: var(--lighter-color);
  width: 95%;
  padding: 2rem;
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: 1s all ease-in-out;
  box-shadow: var(--shadow);
}
.contactus .container .contactus-link a:hover li {
  background-color: #ac9b80;
}
.contactus .container .contactus-link a:hover img {
  transform: scale(1.3);
  transition: var(--main-transition);
}
.contactus .container .contactus-link a {
  color: var(--text-color-2);
  text-decoration: none;
}

.contactus .container .contactus-link ul {
  list-style: none;
}
.contactus .container .contactus-link img {
  width: 5rem;
  margin-left: 3rem;
}
